.container {
  max-width: 900px;
  margin: auto;
  padding: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
